# Virtual environments
.venv/
fda_env/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# OS
.DS_Store

# LaTeX build artifacts
*.aux
*.bbl
*.bbl-SAVE-ERROR
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot
